.nav {
	width: 100vw;
	background-color: #fff;
}

.nav-upper-inner,
.nav-lower-inner {
	width: $default-width;
	margin: 0 auto;
}

// Upper
.nav-upper {
	padding: 1rem 0;
	border-top: 1px solid #ccc;
}

.nav-upper-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// Lower
.nav-lower {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

// ================= Upper =================
// Logo
.nav-logo-wrap {
	display: flex;
	align-items: center;

	.nav-logo-title {
		font-size: $h2-size + 1.25rem;
		color: $default-dark-color;
	}

	.nav-logo-img {
		width: 70px;
	}
}

// Search
.nav-input {
	padding: 1rem 1.25rem;
	border: 1px solid #ccc;
	border-right: none;
	outline: none;
}

.nav-sub-btn {
	padding: 1rem;
	font-weight: 700;
	color: $default-light-color;
	background-color: $default-light-blue-color;
	border: 1px solid $default-light-blue-color;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

// User
.nav-upper-link {
	margin: 0 1rem;
	font-size: $p-size;
	font-weight: 600;
	text-transform: uppercase;
	color: $default-dark-color;
}

/* Navbar container */
.nav-user-wrap {
	display: flex;

	.nav-user-dropdown {
		position: relative;

		&:hover .nav-user-dropdown-content {
			display: block;
		}
	}

	.nav-user-dropdown-content {
		display: none;
		width: 100%;
		position: absolute;
		left: 1rem;
		background-color: #f4f4f4;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		z-index: 10;
	}

	.nav-user-dropdown-link {
		display: inline-block;
		width: 100%;
		padding: 0.5rem;
		font-size: $nav-link-size - 0.25rem;
		border-bottom: 1px solid rgba(204, 204, 204, 0.5);
		background-color: #f4f4f4;
		color: $default-dark-color;

		&:hover {
			background-color: #f1f1f1;
		}
	}

	.nav-user-logout-link {
		text-align: left;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.nav-upper-i {
	margin-right: 0.5rem;
	position: relative;

	.nav-cart-amount {
		padding: 0.4rem 0.8rem;
		position: absolute;
		top: -16px;
		left: -11px;
		background-color: #007bff;
		color: $default-light-color;
		border-radius: 50%;
	}
}

// ================= Lower =================
.nav-lower-ul {
	display: flex;
	justify-content: center;

	.nav-lower-li {
		margin: 1rem;
	}

	.nav-lower-link {
		font-size: $nav-link-size;
		letter-spacing: 0.25rem;
		text-transform: uppercase;
		color: $default-dark-color;
		transition: 0.2s color ease-in-out;

		&:hover {
			color: #007bff;
		}
	}
}

// Media Queries
@media screen and (max-width: $default-width) {
	.nav-upper-inner,
	.nav-lower-inner {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.nav-upper-inner {
		flex-direction: column;
	}

	.nav-upper-inner > * {
		margin: 1rem 0;
	}
}

@media screen and (max-width: 414px) {
	.nav-lower-ul {
		flex-direction: column;
		align-items: center;
	}
}
