@import "../utils/config";

// ====================== Footer Main ======================
.f-main-wrap {
	@include section-center;
}

.f-main-inner-wrap {
	width: 100%;
	margin: 2rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;

	.f-main-sm-title {
		margin-bottom: 1.5rem;
		font-size: $h3-size - 0.5rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	// Title
	.f-main-title-wrap > p {
		margin-bottom: 1rem;
		font-size: $p-size;
		color: $default-product-desc-color;
	}

	.f-main-title-wrap > p > span {
		text-transform: capitalize;
		color: $default-dark-color;
	}

	.f-main-title {
		margin-bottom: 1.5rem;
		font-size: $h2-size + 0.5rem;
		color: $default-dark-color;
	}

	// Links
	.f-main-links-wrap {
		display: flex;
		flex-direction: column;

		.f-main-link {
			margin-bottom: 0.75rem;
			font-size: $link-size;
			text-transform: capitalize;
			color: $default-product-desc-color;
		}
	}
}

// ====================== Footer Socials ======================
.footer-socials-wrap {
	@include section-center;

	.footer-socials-inner-wrap {
		display: flex;
		justify-content: space-between;
		padding: 3rem 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.footer-socials-inner-wrap > div {
		display: flex;
		align-items: center;
	}

	.footer-socials-title {
		margin-right: 2rem;
		font-size: $h3-size;
		font-weight: 400;
		text-transform: capitalize;
	}

	// Payment
	.payment-links-wrap {
		display: flex;
		align-items: center;
	}

	.payment-link {
		display: inline-block;
		margin-right: 2rem;

		&:last-child {
			margin-right: 0;
		}
	}

	// Socials
	.follow-us-link {
		display: inline-block;
		margin-right: 2rem;
		font-size: 2.5rem;

		&:last-child {
			margin-right: 0;
		}

		& .facebook-icon {
			color: #4267b2;
		}

		& .instagram-icon {
			color: #fb3958;
		}

		& .twitter-icon {
			color: #1da1f2;
		}
	}
}

.payment-link-img {
	width: 50px;
}

// ====================== Footer Links ======================
.footer-links-wrap {
	@include section-center;
	margin: 3rem auto;

	.footer-links-inner-wrap {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.footer-link {
		padding-right: 2rem;
		margin: 0 2rem 1rem 0;
		font-size: $link-size;
		color: $default-dark-color;
		text-transform: capitalize;
		border-right: 1px solid $default-dark-color;
		transition: color 0.2s ease-in-out;

		&:last-child {
			border-right: none;
		}

		&:hover {
			color: $default-light-blue-color;
		}
	}
}

// ====================== Footer Final ======================
.footer-final-wrap {
	@include section-center;
	margin-bottom: 2rem;
	text-align: center;

	.footer-final-desc {
		font-size: $h4-size;
		font-weight: 400;
		text-transform: capitalize;
		color: $default-product-desc-color;
	}
}

@media screen and (max-width: 1300px) {
	// ----------- Footer Main -----------
	.f-main-wrap {
		width: 100%;
	}

	.f-main-inner-wrap {
		width: 95%;
		margin: 0 auto;
	}

	// ----------- Footer Socials -----------
	.footer-socials-wrap {
		width: 100%;
	}

	.footer-socials-wrap .footer-socials-inner-wrap {
		width: 95%;
		margin: 0 auto;
	}

	// ----------- Footer Links -----------
	.footer-links-wrap {
		width: 100%;
	}

	.footer-links-wrap .footer-links-inner-wrap {
		width: 95%;
		margin: 0 auto;
	}

	// ----------- Footer Final -----------
	.footer-final-wrap {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	// ----------- Footer Socials -----------
	.footer-socials-wrap .footer-socials-inner-wrap {
		flex-direction: column;
		align-items: center;
	}

	.footer-socials-wrap .payment-wrap {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 425px) {
	// ----------- Footer Socials -----------
	.footer-socials-wrap .footer-socials-inner-wrap > div {
		flex-direction: column;
	}

	.footer-socials-wrap .footer-socials-title {
		margin-bottom: 1rem;
	}
}
