// ====================== Profile Section ======================
.profile-section-wrap {
	margin: 6rem auto;
	display: flex;
}

.profile-showcase-wrap {
	flex: 3;
}

// ------- Filter Section -------
.profile-filter-section {
	flex: 1;
	height: 50vh;
	background-color: #f4f4f4;
	border: 1px solid #ccc;

	// Title
	.profile-filter-title-wrap {
		padding: 2rem 0;
		text-align: center;
		border-bottom: 1px solid #ccc;

		.profile-filter-title {
			font-size: $h2-size - 0.5rem;
			font-weight: 400;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	// Links
	.profile-filter-link {
		padding: 1rem 0;
		border-bottom: 1px solid #ccc;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: rgb(80, 160, 250);
			cursor: pointer;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.profile-filter-link-active {
		background-color: rgb(80, 160, 250);
	}

	.profile-filter-link-text {
		padding-left: 1.5rem;
		font-size: $link-size + 0.25rem;
		font-weight: 400;
		text-transform: capitalize;
		color: $default-dark-color;
	}
}

// ------- Profile Info Section -------
.profile-section {
	margin-left: 2rem;

	// Title
	.profile-title-wrap {
		margin-bottom: 2rem;

		.profile-title {
			font-size: $h2-size + 0.5rem;
			font-weight: 700;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	// Alert
	.profile-alert-wrap {
		width: fit-content;
		margin-bottom: 2.5rem;
		padding: 1rem 2rem;

		.profile-alert-text {
			font-size: $h3-size - 0.5rem;
			font-weight: 400;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	.profile-updated-wrap {
		background-color: #8de7a2;
	}

	.profile-error-wrap {
		background-color: #e45d6b;
	}

	// Items
	.profile-item {
		display: flex;
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 2rem;
		}

		.profile-item-text-wrap {
			flex: 2;
		}

		.profile-item-text {
			font-size: $h3-size - 0.25rem;
			font-weight: 400;
			text-transform: capitalize;
			color: $default-dark-color;
		}

		.profile-item-input-wrap {
			flex: 6;
			display: flex;
			align-items: center;
		}

		.profile-item-input {
			width: 100%;
			padding: 0.25rem 0 0.25rem 0.5rem;
			font-size: $link-size + 0.25rem;
			border: 1px solid #ccc;
			outline: none;
		}
	}

	// Submit Btn
	.profile-submit-wrap {
		display: flex;
		justify-content: flex-end;

		.profile-submit-btn {
			@include btn-default;
		}
	}
}

// ------- Profile Security Section -------
.profile-security-items-title {
	margin-bottom: 2.5rem;
	font-size: $h3-size - 0.25rem;
	font-weight: 600;
	text-transform: capitalize;
	color: $default-dark-color;
}

// ------- Profile Order Section -------
.profile-order-table {
	width: 100%;
	border-collapse: collapse;

	.profile-order-tbody-tr:nth-child(even) {
		background-color: #f4f4f4;
	}

	.profile-order-thead-th {
		padding: 0.5rem 0 0.5rem 0.5rem;
		text-align: left;
		font-size: $p-size + 0.5rem;
		font-weight: 400;
		text-transform: capitalize;
		border: 1px solid #ccc;
	}

	.profile-order-tbody-td {
		padding: 0.5rem 0 0.5rem 0.5rem;
		font-size: $p-size;
		text-transform: capitalize;
		border: 1px solid #ccc;
	}

	.profile-order-tbody-link {
		color: $default-light-blue-color;
	}
}

// ====================== Media Queries ======================

@media screen and (max-width: 1300px) {
	.profile-section-wrap {
		width: 95%;
	}

	.profile-section {
		margin-left: 1rem;
	}

	// ------- Profile Filter Section -------
	.profile-filter-section {
		flex: 1.25;
	}

	// ------- Profile Info Section -------
	.profile-section .profile-item .profile-item-input-wrap {
		flex: 4;
	}
}

@media screen and (max-width: 768px) {
	.profile-section-wrap {
		flex-direction: column;
	}

	.profile-section {
		margin-left: 0;
	}

	// ------- Profile Filter Section -------
	.profile-filter-section {
		flex: 1;
		height: 100%;
		width: 425px;
		margin: 0 auto 2rem auto;
	}

	.profile-filter-links-wrap {
		text-align: center;
	}

	.profile-filter-section .profile-filter-link-text {
		padding-left: 0;
	}

	// ------- Profile Info Section -------
	.profile-section .profile-title-wrap {
		text-align: center;
	}

	.profile-item {
		flex-direction: column;
	}

	.profile-item .profile-item-text-wrap {
		flex: 1;
		margin-bottom: 1rem;
	}

	.profile-item .profile-item-input-wrap {
		flex: 1;
	}

	.profile-section .profile-title-wrap .profile-title {
		font-size: $h2-size;
	}

	.profile-section .profile-item .profile-item-text {
		font-size: $h3-size - 0.5rem;
	}

	.profile-section .profile-item .profile-item-input {
		font-size: $link-size;
	}

	.profile-section .profile-submit-wrap {
		justify-content: center;
	}

	// ------- Profile Order Section -------
	.profile-order-table,
	.profile-order-thead,
	.profile-order-tbody,
	.profile-order-thead-th,
	.profile-order-tbody-td,
	.profile-order-thead-tr,
	.profile-order-tbody-tr {
		display: block;
	}

	.profile-order-thead-tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.profile-order-tbody-tr {
		margin: 0 0 1rem 0;
	}

	.profile-order-tbody-td {
		display: flex;
	}

	.profile-order-tbody-td:before {
		width: 100px;
		font-weight: 600;
	}

	.profile-order-tbody-td:nth-of-type(1):before {
		content: "ID:";
	}
	.profile-order-tbody-td:nth-of-type(2):before {
		content: "date:";
	}
	.profile-order-tbody-td:nth-of-type(3):before {
		content: "total:";
	}
	.profile-order-tbody-td:nth-of-type(4):before {
		content: "paid:";
	}
	.profile-order-tbody-td:nth-of-type(5):before {
		content: "delivered:";
	}
	.profile-order-tbody-td:nth-of-type(6):before {
		content: "receipt:";
	}
}

@media screen and (max-width: 440px) {
	// ------- Profile Filter Section -------
	.profile-filter-section {
		width: 100%;
	}

	// ------- Profile Order Section -------
	.profile-order-tbody-td {
		flex-direction: column;
		text-align: center;
	}

	.profile-order-tbody-td:before {
		width: auto;
		text-align: center;
	}
}
