// ====================== Profile Section ======================
.profile-section-wrap {
	margin: 4rem auto;
	display: flex;
}

.profile-showcase-wrap {
	flex: 3;
}

// ------- Filter Section -------
.profile-filter-section {
	flex: 1;
	min-height: 70vh;
	background-color: #f4f4f4;
	border: 1px solid #ccc;

	// Title
	.profile-filter-title-wrap {
		padding: 2rem 0;
		text-align: center;
		border-bottom: 1px solid #ccc;

		.profile-filter-title {
			font-size: $h2-size - 0.5rem;
			font-weight: 400;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	// Links
	.profile-filter-link {
		padding: 1rem 0;
		border-bottom: 1px solid #ccc;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: rgb(80, 160, 250);
			cursor: pointer;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.profile-filter-link-text {
		padding-left: 1.5rem;
		font-size: $link-size + 0.25rem;
		font-weight: 400;
		text-transform: capitalize;
		color: $default-dark-color;
	}
}

// ------- Profile Info Section -------
.profile-section {
	width: 95%;
	margin: 0 auto;

	// Title
	.profile-title-wrap {
		margin-bottom: 2rem;

		.profile-title {
			font-size: $h2-size + 0.5rem;
			font-weight: 700;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	// Alert
	.profile-alert-wrap {
		width: fit-content;
		margin-bottom: 2.5rem;
		padding: 1rem 2rem;

		.profile-alert-text {
			font-size: $h3-size - 0.5rem;
			font-weight: 400;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	.profile-updated-wrap {
		background-color: #8de7a2;
	}

	.profile-error-wrap {
		background-color: #e45d6b;
	}

	// Items
	.profile-item {
		display: flex;
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 2rem;
		}

		.profile-item-text-wrap {
			flex: 2;
		}

		.profile-item-text {
			font-size: $h3-size - 0.25rem;
			font-weight: 400;
			text-transform: capitalize;
			color: $default-dark-color;
		}

		.profile-item-input-wrap {
			flex: 6;
			display: flex;
			align-items: center;
		}

		.profile-item-input {
			width: 100%;
			padding: 0.25rem 0 0.25rem 0.5rem;
			font-size: $link-size + 0.25rem;
			border: 1px solid #ccc;
			outline: none;
		}
	}

	// Submit Btn
	.profile-submit-wrap {
		display: flex;
		justify-content: flex-end;

		.profile-submit-btn {
			@include btn-default;
		}
	}
}

// ------- Profile Security Section -------
.profile-security-items-title {
	margin-bottom: 2.5rem;
	font-size: $h3-size - 0.25rem;
	font-weight: 600;
	text-transform: capitalize;
	color: $default-dark-color;
}

// ------- Profile Order Section -------
// Orders
.profile-order-form-headers-wrap {
	display: flex;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1rem;
	padding-bottom: 1rem;

	.profile-order-form-headers-text {
		flex: 1;
		font-size: $h3-size - 0.5rem;
		font-weight: 600;
		text-transform: capitalize;
		color: $default-dark-color;
	}
}

.profile-order-form-item {
	display: flex;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}

	.profile-order-form-item-text {
		flex: 1;
		font-size: $h4-size - 0.25rem;
		font-weight: 400;
		text-transform: capitalize;
		color: $default-dark-color;
	}

	.profile-order-form-item-link {
		color: $default-light-blue-color;
	}
}

// ====================== Media Queries ======================

@media screen and (max-width: 1300px) {
	.profile-section-wrap {
		width: 95%;
	}

	// ------- Profile Filter Section -------
	.profile-filter-section {
		flex: 1.25;
	}

	// ------- Profile Info Section -------
	.profile-section .profile-item .profile-item-input-wrap {
		flex: 4;
	}
}

@media screen and (max-width: 768px) {
	.profile-section-wrap {
		flex-direction: column;
	}

	// ------- Profile Filter Section -------
	.profile-filter-section {
		flex: 1;
		min-height: 60vh;
		width: 425px;
		margin: 0 auto 2rem auto;
	}

	.profile-filter-links-wrap {
		text-align: center;
	}

	.profile-filter-section .profile-filter-link-text {
		padding-left: 0;
	}

	// ------- Profile Info Section -------
	.profile-section .profile-title-wrap {
		text-align: center;
	}

	.profile-item {
		flex-direction: column;
	}

	.profile-item .profile-item-text-wrap {
		flex: 1;
		margin-bottom: 1rem;
	}

	.profile-item .profile-item-input-wrap {
		flex: 1;
	}

	.profile-section .profile-title-wrap .profile-title {
		font-size: $h2-size;
	}

	.profile-section .profile-item .profile-item-text {
		font-size: $h3-size - 0.5rem;
	}

	.profile-section .profile-item .profile-item-input {
		font-size: $link-size;
	}

	.profile-section .profile-submit-wrap {
		justify-content: center;
	}
}

@media screen and (max-width: 425px) {
	// ------- Profile Filter Section -------
	.profile-filter-section {
		width: 100%;
	}
}
