// ====================== Single Item Wrap ======================
.single-item-wrap {
	margin: 4rem auto;
	display: flex;
}

// Text
.single-item-text-wrap {
	flex: 1;
	border: 1px solid #ccc;
	border-radius: 10px;

	.single-item-inner-text-wrap {
		margin: 6rem 2rem;
	}

	.single-item-title {
		margin-bottom: 0.5rem;
		font-size: $h2-size;
		font-weight: 400;
		text-transform: capitalize;
		color: $default-dark-color;
	}

	.single-item-manufacturer {
		margin-bottom: 0.5rem;
		font-size: $h3-size - 0.5rem;
		font-weight: 600;
		text-transform: uppercase;
		color: $default-dark-color;
	}

	.single-item-price {
		font-size: $h3-size;
		font-weight: 700;
		text-transform: capitalize;
		color: $default-dark-color;
	}

	.single-item-desc {
		margin: 2.5rem 0;
		padding: 2rem 0;
		font-size: $p-size;
		color: $default-product-desc-color;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.single-item-cart-control {
		display: flex;
	}

	.single-item-qty-wrap {
		@include flex-center;
		margin-right: 2rem;
		border: 1px solid #ccc;

		.single-item-qty-sign {
			margin: 0 1.5rem;
			font-size: 2.5rem;
			cursor: pointer;
		}

		.single-item-amount {
			font-size: $h4-size;
		}
	}

	.single-item-add-btn {
		@include btn-default;
		font-size: $link-size;
		font-weight: 600;
		padding: 1.5rem 4rem;
	}
}

// Image
.single-item-img-wrap {
	flex: 1;
	text-align: center;

	.single-item-img {
		width: 500px;
	}
}

@media screen and (max-width: 1300px) {
	// Image
	.single-item-img-wrap .single-item-img {
		width: 400px;
	}
}

@media screen and (max-width: 768px) {
	.single-item-wrap {
		flex-direction: column;
	}

	// Text
	.single-item-text-wrap {
		border-radius: 0;
	}

	.single-item-text-wrap .single-item-inner-text-wrap {
		text-align: center;
	}

	.single-item-text-wrap .single-item-title {
		font-size: $h2-size + 1rem;
	}

	.single-item-text-wrap .single-item-manufacturer {
		font-size: $h3-size + 0.25rem;
	}

	.single-item-text-wrap .single-item-price {
		font-size: $h3-size + 0.25rem;
	}

	.single-item-text-wrap .single-item-desc {
		font-size: $p-size + 0.25rem;
	}

	.single-item-cart-control {
		justify-content: center;
	}
}

@media screen and (max-width: 425px) {
	// Text
	.single-item-text-wrap .single-item-inner-text-wrap {
		margin: 6rem 0;
	}

	.single-item-text-wrap .single-item-title {
		font-size: $h2-size + 0.5rem;
	}

	.single-item-text-wrap .single-item-manufacturer {
		font-size: $h3-size - 0.25rem;
	}

	.single-item-text-wrap .single-item-price {
		font-size: $h3-size - 0.25rem;
	}

	.single-item-text-wrap .single-item-desc {
		font-size: $p-size;
	}

	.single-item-text-wrap .single-item-cart-control {
		flex-direction: column;
		align-items: center;
	}

	.single-item-text-wrap .single-item-qty-wrap {
		margin: 0 0 2rem 0;
		padding: 0.5rem 0;
	}

	// Image
	.single-item-img-wrap .single-item-img {
		width: 250px;
	}
}
