@import "./global/config";

// ====================== Main Showcase ======================
.slider {
	height: 50vh;
	width: 100vw;
	position: relative;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.5s ease-in-out;
	opacity: 0;

	.slide-text-wrap {
		height: 100%;
		@include section-center;

		.slide-text-inner-wrap {
			width: 500px;
			margin: 8rem 0 0 5rem;
		}

		.slide-title {
			font-size: $h2-size + 1.5rem;
			color: $default-dark-color;
			text-transform: capitalize;
		}

		.slide-desc {
			margin: 2rem 0 4rem 0;
			font-size: $p-size + 1rem;
			color: $default-dark-color;
			text-transform: capitalize;
		}

		.slide-link {
			@include btn-default;
		}
	}
}

.slide.current {
	opacity: 1;
	z-index: 1;
}

.dots {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;

	.dot {
		margin: 0 1rem;
		padding: 0.25rem 1rem;
		border-radius: 50%;
		background-color: #333;
		cursor: pointer;
	}

	.active {
		background-color: $default-light-blue-color;
	}
}

// ====================== Info Box ======================
.info-box {
	margin: 4rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-content: space-around;
	border: 1px solid #ccc;

	.info-single-inner-box {
		margin: 3rem 0;
		text-align: center;
		border-right: 1px solid #ccc;

		.info-icon {
			font-size: 2rem;
		}

		.info-title {
			margin: 0.5rem 0;
			font-size: $h3-size - 0.5rem;
			text-transform: capitalize;
			color: $default-dark-color;
		}

		.info-desc {
			font-size: $p-size;
			text-transform: capitalize;
			color: $default-dark-color;
		}
	}

	.info-single-box:last-child .info-single-inner-box {
		border-right: none;
	}
}

// ====================== Featured Products ======================
.fp {
	overflow: hidden;
}

// Slider
.fp-showcase-wrap {
	@include slider-wrap;

	.fp-showcase-inner-wrap {
		margin-bottom: 2rem;
	}

	.fp-showcase-inner-wrap::after {
		content: "";
		border-right: 20px solid transparent;
	}

	.fp-showcase-item {
		min-width: calc(
			25% - 2rem
		); // Width of container / items to display - right/left margin
		margin-right: 2rem;
		border: 1px solid #ccc;
	}

	.fp-showcase-item:last-child {
		margin-right: 0;
	}

	.fp-showcase-text-wrap {
		text-align: center;

		.fp-showcase-item-title {
			font-size: $h4-size - 0.25rem;
			font-weight: 400;
			color: $default-dark-color;
		}

		.fp-showcase-item-price {
			margin: 0.75rem 0 1.25rem 0;
			font-size: $h4-size - 0.25rem;
			color: $default-dark-color;
		}

		.fp-showcase-item-link {
			@include btn-default;
			margin-bottom: 2rem;
			padding: 0.75rem 1.5rem;
		}
	}
}

// ====================== Product Card ======================
.product-card {
	height: 400px;
	margin: 5rem auto;
	display: flex;
	align-items: center;

	.product-text-wrap {
		margin-left: 6rem;

		.product-card-title {
			margin-bottom: 1rem;
			font-size: $h2-size + 0.75rem;
			font-weight: 400;
			color: $default-dark-color;

			& > strong {
				font-weight: 600;
			}
		}

		.product-card-desc {
			font-size: $h4-size;
			font-weight: 400;
			color: $default-product-desc-color;
		}

		.product-card-price {
			margin: 2rem 0;
			font-size: $h3-size + 0.5rem;
			font-weight: 600;
			color: $default-dark-color;
		}

		.product-card-btn {
			@include btn-default;
		}
	}
}

// ====================== Best Sellers ======================
// Slider
.best-sellers-showcase-wrap {
	@include slider-wrap;

	.best-sellers-showcase-inner-wrap {
		margin-bottom: 2rem;
	}

	.best-sellers-showcase-inner-wrap::after {
		content: "";
		border-right: 20px solid transparent;
	}

	.best-sellers-showcase-item {
		min-width: calc(
			50% - 2rem
		); // Width of container / items to display - right/left margin
		margin-right: 2rem;
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
	}

	.best-sellers-showcase-item:last-child {
		margin-right: 0;
	}

	.best-sellers-showcase-img-wrap {
		flex: 1;
	}

	.best-sellers-showcase-text-wrap {
		flex: 1;
		height: 100%;
		display: flex;
		align-items: center;

		.best-sellers-showcase-text-inner-wrap {
			margin: 0 1rem;
		}

		.best-sellers-showcase-item-title {
			margin-bottom: 0.5rem;
			font-size: $h4-size + 0.25rem;
			font-weight: 400;
			color: $default-dark-color;
		}

		.best-sellers-showcase-item-stock {
			margin-bottom: 0.5rem;
			font-size: $h4-size - 0.25rem;
			font-weight: 400;
			color: $default-product-desc-color;

			& > span {
				font-weight: 400;
				color: $default-light-blue-color;
			}
		}

		.best-sellers-showcase-item-desc {
			font-size: $p-size + 0.25rem;
		}

		.best-sellers-showcase-item-price {
			margin: 0.75rem 0 1.25rem 0;
			font-size: $h4-size;
			color: $default-dark-color;
		}

		.best-sellers-showcase-item-link {
			@include btn-default;
			margin-bottom: 2rem;
			padding: 0.75rem 1.5rem;
		}
	}
}

// ====================== Card Showcase ======================
.cs-wrap {
	margin: 3rem auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;

	.cs-card {
		height: $card-height;
		position: relative;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		transition: all 0.25s ease-in-out;
	}

	.cs-card:hover {
		box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
		transform: scale(1.01);
	}

	.cs-card-lg {
		grid-column: 1 / 3;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.cs-card-text-wrap-lg {
		margin-right: 6rem;
	}

	.cs-card-text-wrap-sm {
		margin: 2rem 0 0 2rem;
	}

	.cs-title {
		font-size: $h2-size - 0.5rem;
		font-weight: 400;
		color: $default-dark-color;
	}

	.cs-desc {
		margin-bottom: 1rem;
		font-size: $h4-size - 0.25rem;
		font-weight: 400;
		color: $default-product-desc-color;
	}

	.cs-price {
		font-size: $h4-size + 1rem;
		font-weight: 400;
		color: $default-dark-color;
	}

	.cs-card-link {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
// ====================== New Arrivals ======================
.na-showcase-wrap {
	@include slider-wrap;

	.na-showcase-inner-wrap::after {
		content: "";
		border-right: 20px solid transparent;
	}

	.na-showcase-item {
		min-width: calc(
			20% - 2rem
		); // Width of container / items to display - right/left margin
		margin-right: 2rem;
		border: 1px solid #ccc;
	}

	.na-showcase-item:last-child {
		margin-right: 0;
	}

	.na-showcase-text-wrap {
		text-align: center;

		.na-showcase-item-title {
			font-size: $h4-size - 0.25rem;
			font-weight: 400;
			color: $default-dark-color;
		}

		.na-showcase-item-price {
			margin: 0.75rem 0 1.25rem 0;
			font-size: $h4-size - 0.25rem;
			color: $default-dark-color;
		}

		.na-showcase-item-link {
			@include btn-default;
			padding: 0.75rem 1.5rem;
			margin-bottom: 2rem;
		}
	}
}

// ====================== Triple Card Showcase ======================
.tc-wrap {
	margin: 3rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;

	.tc-card {
		height: $card-height;
		position: relative;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		transition: all 0.25s ease-in-out;
	}

	.tc-card:hover {
		box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
		transform: scale(1.01);
	}

	.tc-link {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

// ====================== Triple Slider ======================

.ts-wrap {
	display: flex;
	justify-content: space-between;
}

.ts-showcase-wrap {
	width: calc(
		33.33% - 1.33rem
	); // Container width / Sliders to display - desired spacing
}

.ts-single-slider-wrap {
	@include slider-wrap;
}

.ts-showcase-item {
	display: flex;
	align-items: center;
	min-width: 100%; // Same as showcase

	.ts-showcase-img-wrap {
		flex: 1;
	}

	.ts-showcase-text-wrap {
		margin-left: 2rem;
		flex: 2;
	}

	.ts-showcase-item-title {
		margin-bottom: 0.5rem;
		font-size: $h4-size - 0.25rem;
		font-weight: 400;
		color: $default-product-desc-color;
	}

	.ts-showcase-item-price {
		margin-bottom: 0.5rem;
		font-size: $h4-size - 0.25rem;
		color: $default-dark-color;
	}

	.ts-showcase-item-link {
		@include btn-default;
		padding: 0.5rem 1rem;
		font-size: $link-size - 0.25rem;
	}
}

// ====================== Popular Categories ======================
.pc-wrap {
	margin-bottom: 4rem;
}

.pc-showcase-wrap {
	@include slider-wrap;

	.pc-showcase-inner-wrap::after {
		content: "";
		border-right: 20px solid transparent;
	}

	.pc-showcase-item {
		min-width: calc(
			25% - 2rem
		); // Width of container / items to display - right/left margin
		margin-right: 2rem;
	}

	.pc-showcase-item:last-child {
		margin-right: 0;
	}

	.pc-showcase-item-title {
		margin: 1rem 0 2rem 0;
		font-size: $h4-size - 0.25rem;
		color: $default-dark-color;
	}

	.pc-categories-wrap {
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
	}

	.pc-category-link {
		display: block;
		margin-bottom: 0.5rem;
		font-size: $link-size;
		color: $default-product-desc-color;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $default-light-blue-color;
		}
	}

	.pc-showcase-view-link {
		font-size: $link-size;
		text-transform: capitalize;
		color: $default-light-blue-color;
	}
}

// ====================== Newsletters ======================
.nl-main-wrap {
	background-color: $default-light-blue-color;
	margin: 4rem 0;
	padding: 4rem 0;
}

.nl-inner-wrap {
	display: flex;
	justify-content: space-between;

	.nl-text-wrap {
		flex: 1;

		& > * {
			color: $default-light-color;
		}

		.nl-title {
			font-size: $h2-size - 0.25rem;
			font-weight: 400;
		}

		.nl-desc {
			font-size: $h4-size - 0.25rem;
			font-weight: 400;
		}
	}

	.nl-form-wrap {
		flex: 2;
		display: flex;
		justify-content: center;
		align-items: center;

		& > form > * {
			border: none;
			outline: none;
		}

		.nl-form {
			width: 90%;
			display: flex;
			justify-content: space-between;
		}

		.nl-input {
			flex: 6;
			padding: 1.25rem;
			font-size: $link-size;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		.nl-submit-btn {
			flex: 1;
			padding: 1.25rem 2rem;
			font-size: $link-size;
			font-weight: 600;
			text-transform: capitalize;
			color: $default-light-color;
			background-color: $default-dark-color;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

// ====================== Reusable Components ======================

// Showcase Title
.home-showcase-title-wrap {
	@include home-sliders-title-wrap;

	.home-showcase-title {
		@include home-sliders-title;
	}

	.home-showcase-row {
		@include home-sliders-row;
	}

	.home-showcase-btns {
		@include home-sliders-btns;
	}
}

// ====================== Media Queries ======================
@media screen and (max-width: 1300px) {
	// ----------- Global -----------
	.home-showcase-title-wrap {
		width: 95%;
		margin: 1rem auto;
	}

	// ----------- Main Showcase -----------
	.slider {
		height: 60vh;
	}

	.slide .slide-text-wrap {
		width: 100%;
		display: flex;
		align-items: center;
	}

	.slide .slide-text-wrap .slide-text-inner-wrap {
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}

	// ----------- Info Box -----------
	.info-box .info-single-inner-box {
		border: none;
	}

	// ----------- Featured Products -----------
	.fp-showcase-wrap .fp-showcase-item {
		min-width: calc(33.33% - 2rem); // subtract margin
	}

	// ----------- Product Card -----------
	.product-card {
		justify-content: center;
	}

	.product-card .product-text-wrap {
		margin: 0;
		text-align: center;
	}

	.product-card .product-text-wrap .product-card-title {
		font-size: $h2-size + 0.25rem;
	}

	// ----------- Best Sellers -----------
	.best-sellers-showcase-wrap .best-sellers-showcase-item {
		min-width: calc(50% - 2rem); // subtract margin
		flex-direction: column;
	}

	.best-sellers-showcase-wrap
		.best-sellers-showcase-text-wrap
		.best-sellers-showcase-text-inner-wrap {
		text-align: center;
	}

	// ----------- Card Showcase -----------
	.cs-wrap {
		width: $sm-width;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	// ----------- New Arrivals -----------
	.na-showcase-wrap .na-showcase-item {
		min-width: calc(33.33% - 2rem);
	}

	// ----------- Triple Card Showcase -----------
	.tc-wrap {
		width: $sm-width;
	}

	// ----------- Triple Slider -----------
	.ts-wrap {
		width: $sm-width;
		flex-direction: column;
	}

	.ts-showcase-wrap {
		width: 100%;
	}

	// ----------- Popular Categories -----------
	.pc-showcase-wrap .pc-showcase-item {
		min-width: calc(33.33% - 2rem);
	}

	.pc-showcase-wrap .pc-showcase-text-wrap {
		text-align: center;
	}

	// ----------- Newsletter -----------
	.nl-inner-wrap {
		flex-direction: column;
	}

	.nl-inner-wrap .nl-text-wrap {
		margin-bottom: 2rem;
		text-align: center;
	}

	.nl-inner-wrap .nl-form-wrap {
		flex: 1;
		width: $sm-width;
		margin: 0 auto;
	}

	.nl-inner-wrap .nl-form-wrap .nl-form {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	// ----------- Featured Products -----------
	.fp-showcase-wrap .fp-showcase-item {
		min-width: calc(50% - 2rem);
	}

	// ----------- Product Card -----------
	.product-card .product-text-wrap {
		width: 95%;
		margin: 0 auto;
	}

	// ----------- Best Sellers -----------
	.best-sellers-showcase-wrap .best-sellers-showcase-item {
		min-width: 100%;
		margin-right: 0;
	}

	.best-sellers-showcase-wrap .best-sellers-showcase-inner-wrap::after {
		content: "";
		border-right: none;
	}

	// ----------- Card Showcase -----------
	.cs-wrap {
		width: 100%;
	}

	.cs-wrap .cs-card-lg {
		justify-content: center;
	}

	.cs-wrap .cs-card-text-wrap-lg {
		margin-right: 0;
		text-align: center;
	}

	.cs-wrap .cs-card-text-wrap-lg .cs-title {
		font-size: $h2-size + 0.5rem;
	}

	.cs-wrap .cs-card-text-wrap-lg .cs-desc {
		font-size: $h2-size;
	}

	.cs-wrap .cs-card-text-wrap-lg .cs-price {
		font-size: $h2-size + 0.25rem;
	}

	// ----------- New Arrivals -----------
	.na-showcase-wrap .na-showcase-item {
		min-width: calc(50% - 2rem);
	}

	// ----------- Triple Card Showcase -----------
	.tc-wrap {
		width: $esm-width;
	}

	// ----------- Triple Slider -----------
	.ts-wrap {
		width: 100%;
	}

	// ----------- Popular Categories -----------
	.pc-showcase-wrap .pc-showcase-item {
		min-width: calc(50% - 2rem);
	}

	.pc-showcase-wrap .pc-showcase-item-title {
		font-size: $h4-size + 0.25rem;
	}

	// ----------- Newsletter -----------
	.nl-inner-wrap .nl-form-wrap {
		width: 95%;
	}

	.nl-inner-wrap .nl-text-wrap {
		width: 95%;
		margin: 0 auto 2rem auto;
	}

	.nl-inner-wrap .nl-form-wrap .nl-input {
		flex: 1 1 auto;
	}

	.nl-inner-wrap .nl-form-wrap .nl-submit-btn {
		flex: 0 0 auto;
	}
}

@media screen and (max-width: 425px) {
	// ----------- Global -----------
	.home-showcase-title-wrap .home-showcase-title {
		font-size: $h2-size - 0.75rem;
		margin-right: 1.5rem;
	}

	.home-showcase-title-wrap .home-showcase-btns {
		margin-left: 1.5rem;
	}

	// ----------- Main Showcase -----------
	.slide .slide-text-wrap .slide-title {
		font-size: $h2-size + 0.5rem;
	}

	.slide .slide-text-wrap .slide-desc {
		font-size: $p-size + 0.5rem;
	}

	// ----------- Featured Products -----------
	.fp-showcase-wrap .fp-showcase-item {
		min-width: 100%;
		margin-right: 0;
	}

	.fp-showcase-wrap .fp-showcase-inner-wrap::after {
		content: "";
		border-right: none;
	}

	// ----------- Product Card -----------
	.product-card .product-text-wrap .product-card-title {
		font-size: $h2-size;
	}

	.product-card .product-text-wrap .product-card-desc {
		font-size: $h4-size - 0.25rem;
	}

	.product-card .product-text-wrap .product-card-price {
		font-size: $h3-size;
	}

	// ----------- Card Showcase -----------
	.cs-wrap {
		width: 100%;
		grid-template-columns: 1fr;
		row-gap: 2rem;
	}

	.cs-wrap .cs-card-lg {
		grid-column: 1;
	}

	.cs-wrap .cs-card-sm {
		@include flex-center;
	}

	.cs-wrap .cs-card-text-wrap-sm {
		margin: 0;
		text-align: center;
	}

	.cs-wrap .cs-card-text-wrap-lg .cs-title,
	.cs-wrap .cs-card-text-wrap-sm .cs-title {
		font-size: $h2-size;
	}

	.cs-wrap .cs-card-text-wrap-lg .cs-desc,
	.cs-wrap .cs-card-text-wrap-sm .cs-desc {
		font-size: $h2-size - 0.5rem;
	}

	.cs-wrap .cs-card-text-wrap-lg .cs-price,
	.cs-wrap .cs-card-text-wrap-sm .cs-price {
		font-size: $h2-size;
	}

	// ----------- New Arrivals -----------
	.na-showcase-wrap .na-showcase-item {
		min-width: 100%;
		margin-right: 0;
	}

	.na-showcase-wrap .na-showcase-inner-wrap::after {
		content: "";
		border-right: none;
	}

	// ----------- Triple Card Showcase -----------
	.tc-wrap {
		width: 100%;
	}

	.tc-wrap .tc-card:hover {
		transform: scale(0);
	}

	// ----------- Triple Slider -----------
	.ts-showcase-wrap {
		margin-bottom: 2rem;
	}

	// ----------- Popular Categories -----------
	.pc-showcase-wrap .pc-showcase-item {
		min-width: 100%;
		margin-right: 0;
	}

	.pc-showcase-wrap .pc-showcase-inner-wrap::after {
		content: "";
		border-right: none;
	}

	// ----------- Newsletter -----------
	.nl-inner-wrap .nl-form-wrap .nl-form {
		display: block;
		text-align: center;
	}

	.nl-inner-wrap .nl-form-wrap .nl-input {
		width: 100%;
		margin-bottom: 2rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.nl-inner-wrap .nl-form-wrap .nl-submit-btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
