@import "./global/config";

.slider {
	height: 50vh;
	width: 100vw;
	position: relative;
}

.slide {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: $default-width;
	display: flex;
	justify-content: space-between;
	transform: translateX(-50%);
	transition: all 0.5s ease-in-out;
	opacity: 0;

	.content {
		flex: 1;

		.slide-text-wrap {
			margin: 5rem 0 0 3rem;
		}

		.slide-text-wrap > * {
			margin-bottom: 1.5rem;
		}

		.slide-h2 {
			font-size: $h2-size + 1.5rem;
			color: $default-dark-color;
			text-transform: capitalize;
		}

		.slide-p {
			font-size: $p-size + 1rem;
			text-transform: capitalize;
			margin-bottom: 4rem;
		}
	}

	.slide-img-wrap {
		flex: 1;
		text-align: center;
	}

	.slide-img {
		width: 500px;
	}
}

.slide.current {
	opacity: 1;
}

.slide.current .content {
	opacity: 1;
}

// Dots
.dots {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translate(-50%, 0);

	.dot {
		margin: 0 1rem;
		padding: 0.25rem 1rem;
		border-radius: 50%;
		background-color: #333;
	}

	.active {
		background-color: $btn-bg-color;
	}
}
