// ============= Imports =============
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// ============= Variables =============

// Layout
$default-width: 1300px;

// Typography
$h1-size: 7rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
$h4-size: 2rem;

$p-size: 1.5rem;

$nav-link-size: 1.75rem;

$default-font-family: "Open Sans", sans-serif;

// Colors
$body-bg: #f4f4f4;
$default-dark-color: #333;
$default-light-color: #fff;
$btn-bg-color: #266cfb;

// ============= Default Resets =============
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $default-font-family;
	overflow-x: hidden;
	background-color: $body-bg;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
