// ============= Imports =============
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// ============= Variables =============

// Layout
$default-width: 1300px;
$sm-width: 768px;
$esm-width: 425px;

$card-height: 250px;

// Typography
$h1-size: 7rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
$h4-size: 2rem;

$p-size: 1.5rem;
$link-size: 1.5rem;

$nav-link-size: 1.75rem;

$default-font-family: "Open Sans", sans-serif;

// Colors
$body-bg: #fff;
$default-dark-color: #333;
$default-light-color: #fff;
$default-product-desc-color: #828282;
$default-light-blue-color: #266cfb;

// ============= Mixins =============

@mixin section-center {
	width: $default-width;
	margin: 0 auto;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Button
@mixin btn-default {
	display: inline-block;
	padding: 1rem 2rem;
	font-size: $link-size;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 5px;
	color: $default-light-color;
	background-color: $default-light-blue-color;
	transition: all 0.25s ease-in-out;

	&:hover {
		background-color: #333;
	}
}

// Home Slider
@mixin slider-wrap {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@mixin home-sliders-title-wrap {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin home-sliders-title {
	flex: 0 0 auto;
	margin-right: 3rem;
	font-size: $h2-size - 0.25rem;
	font-weight: 400;
	text-transform: capitalize;
	color: $default-dark-color;
}

@mixin home-sliders-row {
	flex: 1 1 auto;
	height: 1px;
	background-color: #ccc;
}

@mixin home-sliders-btns {
	flex: 0 0 auto;
	margin-left: 3rem;
	font-size: 1.25rem;
	color: #ccc;

	& > button {
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
	}

	& > button:last-child {
		margin-left: 1rem;
	}
}

// Utility Classes
.section-center {
	width: $default-width;
	margin: 0 auto;
}

.home-showcase-inner-wrap {
	display: flex;
}

.btn-disabled {
	pointer-events: none;
}

// ============= Default Resets =============
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $default-font-family;
	overflow-x: hidden;
	background-color: $body-bg;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

// ============= Media Queries =============
@media screen and (max-width: 1300px) {
	.section-center {
		width: 100%;
	}
}
